button {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.click-button {
  background-color: #202020;
}

.restart-button {
  background-color: #202020;
}